<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>um</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>template</param-name>
    <param-value>/view/structure/templates/original.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>template2Col</param-name>
    <param-value>/view/structure/templates/original-twoCol.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>reportsTemplate</param-name>
    <param-value>/view/structure/templates/reportsTemplate.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>theme</param-name>
    <param-value>default</param-value>
  </context-param>
  <context-param>
    <param-name>userProfilePicPath</param-name>
    <param-value>/images/profilepics/</param-value>
  </context-param>
  <context-param>
    <param-name>companylogoPath</param-name>
    <param-value>/images/companyLogo/</param-value>
  </context-param>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.srpl.crm.web.common.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JExcelApiServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.JExcelApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RtfServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/servlets/report/PDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JExcelApiServlet</servlet-name>
    <url-pattern>/servlets/report/EXCEL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RtfServlet</servlet-name>
    <url-pattern>/servlets/report/RTF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/view/structure/errors/AccessDenied.jsf</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/view/structure/errors/ResourceNotFound.jsf</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/view/structure/errors/Error.jsf</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/view</taglib-uri>
      <taglib-location>/WEB-INF/view.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-constraint>
    <display-name>Administrator</display-name>
    <web-resource-collection>
      <web-resource-name>admin_pages</web-resource-name>
      <url-pattern>/view/um/admin/company/*</url-pattern>
      <url-pattern>/view/um/admin/sample/*</url-pattern>
      <url-pattern>/view/dashboard/*</url-pattern>
      <url-pattern>/view/um/admin/user/changepassword.jsf</url-pattern>
      <url-pattern>/view/settings/userProfile.jsf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Administrator</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>AccountManager</display-name>
    <web-resource-collection>
      <web-resource-name>account_manager_pages</web-resource-name>
      <url-pattern>/view/um/admin/franchise/*</url-pattern>
      <url-pattern>/view/um/admin/groups/*</url-pattern>
      <url-pattern>/view/um/admin/OperationsListing/*</url-pattern>
      <url-pattern>/view/um/admin/user/*</url-pattern>
      <url-pattern>/view/um/import/*</url-pattern>
      <url-pattern>/view/dashboard/*</url-pattern>
      <url-pattern>/view/um/admin/user/changepassword.jsf</url-pattern>
      <url-pattern>/view/settings/userProfile.jsf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>AccountManager</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>User</display-name>
    <web-resource-collection>
      <web-resource-name>public_pages</web-resource-name>
      <url-pattern>/view/customer/*</url-pattern>
      <url-pattern>/view/documents/*</url-pattern>
      <url-pattern>/view/loyalty/*</url-pattern>
      <url-pattern>/view/marketing/*</url-pattern>
      <url-pattern>/view/reports/*</url-pattern>
      <url-pattern>/view/sales/*</url-pattern>
      <url-pattern>/view/support/*</url-pattern>
      <url-pattern>/view/dashboard/*</url-pattern>
      <url-pattern>/view/um/admin/user/changepassword.jsf</url-pattern>
      <url-pattern>/view/settings/userProfile.jsf</url-pattern>
      <url-pattern>/view/sales/orders/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>User</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <display-name>Customer</display-name>
    <web-resource-collection>
      <web-resource-name>customer_pages</web-resource-name>
      <url-pattern>/view/sales/orders/*</url-pattern>
      <url-pattern>/view/support/*</url-pattern>
      <url-pattern>/view/dashboard/*</url-pattern>
      <url-pattern>/view/settings/userProfile.jsf</url-pattern>
      <url-pattern>/view/um/admin/user/changepassword.jsf</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Customer</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>crmDomain</realm-name>
    <form-login-config>
      <form-login-page>/view/public/SignInForm.jsp</form-login-page>
      <form-error-page>/view/public/SignInForm.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>system admins</description>
    <role-name>Administrator</role-name>
  </security-role>
  <security-role>
    <description>account manager</description>
    <role-name>AccountManager</role-name>
  </security-role>
  <security-role>
    <description>other than Admin and Account Manager</description>
    <role-name>User</role-name>
  </security-role>
  <security-role>
    <description>Customer Accounts</description>
    <role-name>Customer</role-name>
  </security-role>
</web-app>